@media all and (max-width: 480px)
{
    #bloc-page
    {
        width: 100%;
        margin: auto;
    }

    /*Header avec logo, navigation et s'inscrire*/
    header
    {
        height: auto;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-between;

    }

    nav
    {
        order: 2;
        margin-left: 0;
        width: 100%;
    }
    .navBar
    {
        order: 2;
        flex: 1;
        width: 100%;
        margin: 0;
    }

    .navItem
    {
        flex: 1;
        padding: 30px 20px 10px 20px;
        text-align: center;
        border-bottom: solid 3px ;
        border-color: #F2F2F2;
    }

    .navItem:hover
    {
        border-bottom: solid 3px;
        border-top: none;
        border-color: #0065FC;
        font-size: 1.2em;
    }

    .navHebergements, .navActivites
    {
        text-align: center;
        align-self: center;
        align-content: center;
    }

    .logoReservia
    {
        margin-left: 15px;
    }

    main
    {
        margin: auto;
        width: 100%;
    }

    /*recherche*/
    .inputSearch
    {
        width: auto;
    }

    .searchBar
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 50px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .search1
    {
        display: block;
        background-color: #0065FC;
        font-size: 1.1em;
        font-weight: bold;
        color: white;
        height: 50px;
        min-width: 50px;
        border-radius: 0px 15px 15px 0px;
        border: none;
    }
    .buttonSearch
    {
        display: none;
    }


    /*les filtres*/
    .filtres
    {
        max-width: 480px;
        justify-content: space-between;
        align-items: flex-start;
        margin: 30px 20px 0 20px; 
    }

    #filtreTitle
    {
        width: 100%;
    }


    #economic:hover, #family:hover, #romantic:hover, #animalsok:hover
    {
        height: 60px;
        width: auto;
        border: 3px solid #0065FC;
        border-radius: 32px;
        background-color: #F2F2F2;
    }

    /*paragraphe d'information*/
    .infoStat
    {
        width: auto;
        margin: 0 20px 20px 20px;
    }
    
    .fasInfo
    {
        width: 25px;
        height: 25px;
        border: 2px solid #F2F2F2;
        border-radius: 15px 15px 15px 15px;
        color: #0065FC;
        margin-right: 15px;
    }

    /*les couleurs des stars*/
    .blue
    {
        color:#0065FC
    }
    .grey
    {
        color:#F2F2F2;
    }

    .titreMain 
    {
        margin: 20px 20px 0 20px;
    }

    .paragMain
    {
        margin: 10px 20px 0 20px;
    }
    p{
        font-size: 0.9em;
    }

    .hebergementAside
    {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    /*section Hébergements*/

    #chambres
    {
        align-items: center;
        height: auto;
        width: 100%;
        background-color: white;
    }

    #hebergements
    {
        justify-content: center;
        text-align: left;
        margin: 0 20px 10px 20px;
    }

    #cartesH
    {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        height: auto;
        margin: 0 20px;
    }
    .carteHebergement
    {
        display: flex;
        flex-direction: column;
        height: 190px;
        width: auto;
        padding: 5px;
        margin: 0 20px;
        border-radius: 25px 25px 25px 25px;
        background-color: white;
        box-shadow: 10px 10px 20px #bbbaba;
    }

    .figure
    {    
        width: 100%;
        height: 120px;
    }

    .more
    {
        margin: 20px 0px 0px 0px;
    }

    /*section Aside*/
    aside
    {
        order: -1;
        width: 100%;
        height: 580px;
        border-radius: 0;
    }

    .cartesGrid
    {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
        margin: 0 20px;
    }

    .titrePopulaires
    {
        width: auto;
        margin: 40px 20px 25px 20px;
    }
    .titrePopulaire1
    {
        margin-top: 0;
    }

    .populaires
    {
        width: auto;
        height: 145px;
        margin: 0;
    }

    /*Activité*/

    #activites
    {
        margin: 0 20px 20px 20px;
    }

    .activites
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        gap: 15px;
        margin-bottom: 30px; 
        padding-left: 20px;
        padding-right: 20px;
    }
    .vieuxPort, .calanques, .notreDame, .longchamp, .pomegues, .frioul
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 190px;
    }

    .pomeguesFrioul, .gardeLongchamp
    {
        width: 100%;
        height: 395px; 
    }

    .figurevieuxPort, .figureCalenques, .figurePomegues, .figureFrioul, .figureGarde, .figureLongchamp
    {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 140px;
    }    

    .notreDame
    {
        margin-bottom: 15px;
    }

    .frioul
    {
        margin-top: 15px;
    }
    /*Footer - bas de la page*/

    footer
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        padding-left: 0;
    }
        
    .footer
    {
        padding-left: 20px;
        margin-left: 0;
    }
}
