footer
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1fr 1fr 1fr;
    align-content: space-between;
    background-color: #F2F2F2;
    text-decoration: none;
}

li
{
    text-decoration: none;
    list-style: none;
}

h1
{
    color:#0065FC
}

.grey
{
    color: gray
}
.fa, .fas
{
    text-decoration: none;
}

figcaption
{
    text-decoration: none;
    color: black
}


.vieuxport
{
    height: 600px;
    width: 300px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: #DEEBFF;
}
