
body
{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin-left: 0px;

}

#bloc-page
{
    text-align: left;
    align-content: flex-start;
    margin: 0px;
}

a
{
    text-decoration: none;
    text-decoration-color: none;
    color: #3b3922;
    padding: 0px;
}
/*Header avec logo, navigation et s'inscrire*/
header
{
    font-family: 'Raleway', sans-serif;
    width: 90%;
    height: 80px;
    display: flex;
    flex-direction: row;
    margin-left: 30px;

}

#logo
{
    display: flex;
    margin-top: auto;
}

nav
{
    display: flex;
    margin-left: auto;
}
.navBar
{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
}

.navItem
{
    padding: 50px 35px 10px 35px;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
}

.navItem:hover
{
    border-top: solid 2px;
    border-color: #0065FC;
    font-size: 1.2em;
    color: #0065FC;
}



.navSignUp
{
    display: flex;
    align-items: center;
    padding: 50px 35px 10px 35px;
    font-size: 1em;
}

.signUpHeader
{
    display: flex;
    color:#0065FC;
    font-weight: bolder;
}

.logoReservia
{
    display: flex;
    align-items: flex-end;
    width: 95px;
    height: auto;
}

main
{
    margin-left: 30px;
}

/*recherche*/
.searchBar
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    margin-top: 20px;
}
.fa-map-marker-alt
{
    display: flex;
}
.mapMarkerIcon
{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    align-items: center;
    justify-content: center;

}

.inputSearch
{
    height: 50px;
    width: 235px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 20px;
    box-shadow:none;
    border: 1px solid #F2F2F2;
    outline:0;
}
.buttonSearch
{
    background-color: #0065FC;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    height: 50px;
    width: 135px;
    border-radius: 0px 15px 15px 0px;
    border: none;

}
/*paragraphe d'informtion*/
.fasInfo
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: 2px solid #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    color: #0065FC;
    margin-right: 15px;
}

.infoStat
{
display: flex;
justify-content: row;
align-items: center;
margin-bottom: 20px;
}
.fa-info
{
    font-size: 15px;
}

/*les filtres*/
.filtres
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 950px;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    align-items:center;
    height: 100px;
    font-size: 1.2em;
    font-weight: bolder;
}

#economic, #family, #romantic, #animalsok
{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: auto;
    border: 3px solid #F2F2F2;
    border-radius: 28px;
    padding-right: 25px;
    align-items: center;

}
.economictxt, .familytxt, .romantictxt, .animalsoktxt
{
    padding-left: 15px;
}
.filtreIcon
{
    display: flex;
    margin-right: auto;
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 27px 27px 27px 27px;
    align-items: center;
    justify-content: center;
    color: #0065FC
}

/*les couleurs des stars*/
.blue
{
    color:#0065FC
}
.grey
{
    color:#F2F2F2;
}


p{
    font-size: 0.9em;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

/*section Hébergements*/

#chambres
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 620px;
    width: 880px;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 40px;
}
#hebergements
{
    width: 100%;
    justify-content: flex-start;
    font-weight: bolder;
    font-size: 1.5em;
    padding-top: 10px;
}

#cartesH
{
    display: grid;
    grid: repeat(2, 1fr)/ repeat(3, 1fr);
    gap: 30px;
    max-width: 800px;
    height: 430px;
}

.carteHebergement
{
    padding: 0px;
}

figure
{
    width: 250px;
    height: 200px;
    padding: 5px;
    border-radius: 30px 30px 30px 30px;
    background-color: white;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

figure img
{
    width: 100%;
    height: 65%;
    border-radius: 30px 30px 0px 0px;
    justify-content: center;
}

.captionH
{
    margin-left: 15px;
    font-size: 0.9em;
}

h4
{
    margin-block-start: 0.1em;
    margin-block-end: 0.2em;
    font-weight: bolder;
}

.stars
{
    font-size: 1em;
}

h3{
    margin-block-start: 0.5em;
    margin-block-end: 0.4em;
    font-weight: bolder;
}


.more
{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    font-weight: bold;
}

aside
{
    display: grid;
    grid-template-columns: repeat(1, 345px);
    width: 420px;
    height: 620px;
    background-color: #F2F2F2;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

footer
{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    flex-wrap: wrap;
    width: 100%;
    background-color: #F2F2F2;
    padding-left: 30px;
    

}

.footer
{
    flex-grow: 1;
    margin-left:30 px;
    list-style-type: none;
}

ul
{
    padding: 0px;
    margin: 0px;
}

li
{
    text-decoration: none;
    list-style-type: none;
    margin: 10px 0px;
    margin-left: 0px;
    font-size: 0.7em;
    
}


.fa, .fas
{
    text-decoration: none;
}


.vieuxport
{
    height: 600px;
    width: 300px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: #DEEBFF;
}
