@media all and (min-width: 481px) and (max-width: 1124px)
{
    /*recherche*/
    .searchBar
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;
        height: 50px;
        margin: 20px 0 0 20px;
    }
    .inputSearch
    {
        width: auto;
    }

    .search1
    {
        display: none;
    }

    /*les filtres*/
    .filtres
    {
        max-width: 550px;
        justify-content: flex-start;
        margin: 30px 20px 0 20px;
        column-gap: 30px; 
    }

    #filtreTitle
    {
        width: 100%;
    }


    #economic:hover, #family:hover, #romantic:hover, #animalsok:hover
    {
        height: 60px;
        width: auto;
        border: 3px solid #0065FC;
        border-radius: 32px;
        background-color: #F2F2F2;
    }
    span:hover
    {
        font-size: 1.2em;
    }

    /*paragraphe d'information*/
    .infoStat
    {
        width: auto;
        margin: 0 20px 20px 20px;
    }
    
    .fasInfo
    {
        width: 25px;
        height: 25px;
        border: 2px solid #F2F2F2;
        border-radius: 15px 15px 15px 15px;
        color: #0065FC;
        margin-right: 15px;
    }

    /*les couleurs des stars*/
    .blue
    {
        color:#0065FC
    }
    .grey
    {
        color:#F2F2F2;
    }

    .titreMain 
    {
        margin: 20px 20px 0 20px;
    }

    .paragMain
    {
        margin: 10px 20px 0 20px;
    }
    p{
        font-size: 0.9em;
    }

    .hebergementAside
    {
        display: flex;
        flex-direction: row;
        flex: 2 1;
        gap: 25px;
    }

    /*section Hébergements*/
    #chambres
    {
        justify-content: space-between;
        height: 720px;
        width: auto;
    }

    #hebergements
    {
        margin: 30px 0 20px 30px;
    }

    #cartesH
    {
        display: grid;
        grid: repeat(3, 1fr)/ repeat(2, 1fr);
        gap: 20px;
        max-width: 550px;
        height: 600px;
        margin: 0px 20px;
    }
    .carteHebergement
    {
        width: 210px;
        height: 170px;
        padding: 5px;
    }
    .more
    {
        margin: 30px 0px 20px 20px;
    }

    .titrePopulaires
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
        min-width: 230px;
        align-items: center;
        margin: 20px 20px 15px 20px;
    }
    aside
    {
        width: auto;
        height: 720px;
        background-color: #F2F2F2;
        justify-content: center;
        min-width: 250px;
        border-radius: 20px;
    }

    .cartesGrid
    {
        display: grid;
        grid-template-columns: repeat(1, 280px);
        justify-content: center;
        height: 640px;
        width: auto;
        margin: 0 auto 20px auto;
        gap: 10px;
    }

    .populaires
    {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: auto;
        height: 190px;
        margin: 0 20px;
        border-radius: 25px;
        box-shadow: 10px 10px 20px #bbbaba;
    }

    .cartePopulaire
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
        height: auto;
        padding: 10px;
    }
    .imgAside
    {
    object-fit: cover;
    height: 100%;
    width: auto;
    border-radius: 20px 20px 0 0;
    margin: 5px;
    }

    /*Activité*/

    .activites
    {
        display: grid;
        grid: repeat(2, 1fr)/repeat(2, 1fr);
        max-width: 900px;
        gap: 30px;
        margin-bottom: 30px;
        margin-right: 20px;
    }
    .vieuxPort, .calanques
    {
        Width: auto;
    }
    .pomegues, .frioul, .notreDame, .longchamp
    {
        width: auto;
    }
}
