@media all and (min-width: 481px) and (max-width: 1124px)
{
    header
    {
        margin-left: 0;
        width: auto;
        padding-left: 20px;
    }
    main
    {
        margin-left: 0;
    }
    /*recherche*/
    .searchBar
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;
        height: 50px;
        margin: 20px 0 0 20px;
    }
    .inputSearch
    {
        width: auto;
    }

    .search1
    {
        display: none;
    }

    /*les filtres*/
    .filtres
    {
        max-width: 550px;
        justify-content: flex-start;
        margin: 30px 20px 0 20px;
        column-gap: 30px; 
    }

    #filtreTitle
    {
        width: 100%;
    }


    #economic:hover, #family:hover, #romantic:hover, #animalsok:hover
    {
        height: 60px;
        width: auto;
        border: 3px solid #0065FC;
        border-radius: 32px;
        background-color: #F2F2F2;
    }

    /*paragraphe d'information*/
    .infoStat
    {
        width: auto;
        margin: 0 20px 20px 20px;
    }
    
    .fasInfo
    {
        width: 25px;
        height: 25px;
        border: 2px solid #F2F2F2;
        border-radius: 15px 15px 15px 15px;
        color: #0065FC;
        margin-right: 15px;
    }

    .titreMain 
    {
        margin: 20px 20px 0 20px;
    }

    .paragMain
    {
        margin: 10px 20px 0 20px;
    }
    p{
        font-size: 0.9em;
    }

    .hebergementAside
    {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    /*section Hébergements*/
    #chambres
    {
        justify-content: space-between;
        height: 780px;
        width: auto;
        border-radius: 0;
    }

    #hebergements
    {
        margin: 30px 0 20px 30px;
    }

    #cartesH
    {
        display: grid;
        grid: repeat(3, 1fr)/ repeat(2, 1fr);
        gap: 20px;
        width: auto;
        height: 680px;
        margin: 0px 20px;
        max-width: 1100px;
    }
    .carteHebergement
    {
        width: auto;
        height: 190px;
        padding: 5px;
    }
    .more
    {
        margin: 30px 0px 20px 30px;
    }

    .titrePopulaires
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
        margin: 20px 20px;
    }

    .titrePopulaire1
    {
        margin-top: 0;
    }
    aside
    {
        order: -1;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color: #F2F2F2;
        border-radius: 0;
    }

    .cartesGrid
    {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        height: auto;
        width: auto;
        margin: 0 0 20px 0;
        gap: 15px;
    }

    .populaires
    {
        display: flex;
        flex-direction: row;
        background-color: white;
        width: auto;
        max-width: 1000px;
        height: 190px;
        margin: 0 20px;
        border-radius: 25px;
        box-shadow: 10px 10px 20px #bbbaba;
    }

    .cartePopulaire
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
        height: auto;
        padding: 10px;
    }
    .imgAside
    {
        object-fit: cover;
        height: auto;
        width: 250px;
        border-radius: 20px 0px 0px 20px;
        margin: 5px;
    }

    /*Activité*/

    .activites
    {
        display: grid;
        grid: repeat(2, 1fr)/repeat(2, 1fr);
        gap: 30px;
        margin-bottom: 30px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .vieuxPort, .calanques
    {
        width: auto;
    }
    .pomegues, .frioul, .notreDame, .longchamp
    {
        width: auto;
    }

    footer
    {
        padding-left: 0;
    }

    .footer
    {
        margin-left: 20px;
    }
}
